* {
	box-sizing: border-box;
	margin: 0;
}
body {
	background-repeat: no-repeat;
	background-color: rgb(255, 255, 255);
}
.one {
	display: flex;
	background: url(../images/one.png) center no-repeat;
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: center;
}
.one-1 {
	width: 80%;
}
header {
	display: flex;
}
.header {
	display: flex;
	flex-direction: row;	
	width: 100%;
	height: 80px;
		}
.header-0 {
	display: flex;
	width: 70%;
	align-items: center;
}
.header-1, form {
	display: flex;
    align-items: center;
}
button {
	display: flex;
	border: solid 1px black;
	font-size: 14px;
	width: 200px;
	height: 40px;
	align-items: center;
	justify-content: center;
	border-radius: 25px;
	margin: 15px;
	cursor: pointer;
}
button:hover {
	background-color: rgb(250,63,90);
	color: white;
}
.content {
	display: flex;
	flex-direction: column;
    height: 90%;
    justify-content: center;
    color: rgba(84,78,78,1);
    font-family: Georgiapro-regular;
}
h1 {
	padding-top: 12px;
	padding-bottom: 12px;
}
h2 {
	padding-top: 12px;
	padding-bottom: 12px;
}
h3 {
	padding-top: 20px;
	padding-bottom: 20px;
}
.content-6 {
	font-size: 60px;
	width: 75%;
}
.content-1 {
	display: flex;
	margin-top: 25px;
}
.red {
	background: rgb(250,63,90);
	color: white;
}
.two {
	display: flex;
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: center;
}
.title {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 250px;
    justify-content: center;
    padding-top: 30px;
}
.title-1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
img {
	text-align: center;
	width: 150px;
	height: 150px;
	border-radius: 50%;
}
figure {
    padding: 90px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
figcaption {
	width: 180px;
    height: 100px;
    text-align: center;
    font-size: 18px;
}
.figure {
	padding: 40px;
}
.title-2 {
	text-align: center;
	padding-bottom: 80px;
}
.img {
	width: 290px;
	height: 290px;
}
.svg {
	margin: -40px;
	width: 140px;
}
.svg1 {
	display: flex;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
}
a {
	text-decoration: none;
	color: black;
}
.three {
	display: flex;
	background-color: rgb(255, 249, 249);
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: center;
}
.title-3 {
	font-size: 60px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.content-2 {
	display: flex;
    justify-content: center;
	font-size: 20px;
}
.content-3 {
	width: 90%;
}
.content-3-1 {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
}
.content-4 {
	display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
}
.content-4-1 {
    font-size: 18px;
    width: 250px;
}
iframe {
	width: 640px;
	height: 360px;
}
.content-2-1 {
	display: flex;
	flex-direction: column;
	width: 90%;
	align-items: center;
}
.title-4 {
	text-align: center;
}
.four {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.img-1 {
	width: 220px;
	height: 220px;
}
.figcaption {
	width: 220px;
    height: 50px;
    text-align: center;
    font-size: 18px;
}
.figcaption-1 {
    font-size: 22px;
    text-align: left;
    width: auto;
    height: auto;
}
.title-5 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.title-6 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.five {
	display: flex;
	background-color: rgb(255, 249, 249);
	justify-content: center;
}
.trener-1 {
	display: flex;
	justify-content: center;
}
.trener {
	display: flex;
	width: 100%;
	justify-content: center;
}
.description {
	font-size: 20px;
	padding: 20px;
	width: 50%;
}
.content-5 {
	display: flex;
    align-items: center;
}
.size {
	width: 100%;
}
.six {
	display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
}
.seven {
	display: flex;
    background-color: rgb(255, 249, 249);
    justify-content: center;
}
.eight {
	display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
}
.block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 240px;
    border: solid 1px red;
    margin: 30px;
}
.block:hover {
	transform: translate(-10px, 10px);
	border: solid 1px rgb(250,63,90);
}
.block-1 {
    display: flex;
    font-size: 24px;
    text-align: center;
}
.block-2 {
	width: 350px;
	height: 480px;
	border: solid 1px red;
	margin: 30px;
	padding: 20px;
}
.block-3 {
	font-size: 35px;
	text-align: center;
	padding-top: 60px;
}
.block-4 {
	font-size: 40px;
	font-style: bold;
	text-align: center;
}
.image {
	width: 450px;
	height: 350px;
	border-radius: 0%;
}
.block-5 {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.block-5-1 {
	display: flex;
	background-color: white;
    padding-top: 20px;
}
.block-5-2 {
	display: flex;
	flex-direction: column;
	font-size: 35px;
	text-align: left;
	padding-left: 60px;
}
.block-5-3 {
	min-height: 60px;
	font-size: 35px;
}
li {
	font-size: 24px;
	padding-bottom: 5px;
	color: rgb(250, 63, 90);
}
.audio {
    display: flex;
    flex-wrap: wrap;
	width: 80%;
	background-color: white;
	justify-content: center;
}
audio {
	margin: 60px;
	width: 413px;
}
.block-6 {
	width: 350px;
	margin: 30px;
	padding: 20px;
	background-color: white;
}
.block-7 {
	border: solid 0.1px red;
	border-radius: 15%;
	margin: 30px;
	padding: 20px;
	text-align: center;
}
.block-7-3 {
	border: solid 0.1px #673ab7;
	margin: 30px;
	padding: 20px;
}
.block-7-1 {
	font-size: 24px;
	padding-bottom: 5px;
}
.block-7-2 {
	font-size: 24px;
	padding-bottom: 5px;
	width: 35%;
}
.footer-two {
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 24px;
	width: 80%;
}
.footer-three {
	display: flex;
	width: 20%;
}
.footer-four {
	display: flex;
	justify-content: flex-end;
	font-size: 24px;
	width: 80%;
}
.footer-four>p>a {
	color: rgb(207, 207, 207);
}
.footer-five {
	display: flex;
	font-size: 24px;
	color: rgb(207, 207, 207);
	height: 30px;
}
.footer-six {
	display: flex;
}
.form {
	width: 100%;
}
